MONGO_URI='mongodb+srv://savage:savage123@saavage-replies.aeejd.mongodb.net/savage-replies?retryWrites=true&w=majority'
JWT_KEY="HNGi7-saavage-collection"
GMAIL_USER='savagecollector776@gmail.com'
GMAIL_PASS='Savage@1234'



<!-- <% if(message.length > 0){ %>
    <div class="alert alert-success">
      <%= message %>
    </div>
    <% } %> -->