<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <!-- Fonts Awesome -->
    <script
      src="https://kit.fontawesome.com/fc9346f24c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/homepage2.css" />

    <title>Savage Collections | Home</title>
  </head>
  <body>
    <!-- Nav -->
    <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand logo" href="/">SC</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#savageCollections"
        aria-controls="savageCollections"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="savageCollections">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#how">How It Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts">Savages</a>
          </li>
        </ul>
        <a
          href="/user/login"
          class="btn btn-lg action-2 px-5 my-2 my-sm-0"
          role="button"
          >Sign In</a
        >
      </div>
    </nav>

    <!-- Hero -->
    <header id="hero" class="container-fluid d-flex align-items-center">
      <div class="hero-text container text-center">
        <h1>Funny Savage Collections</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sunt
          quos facilis voluptatem necessitatibus! Error dolore qui omnis in,
          fuga laudantium cum quidem modi, nostrum quia eligendi aliquid nulla
          illum.
        </p>
        <a
          href="/user/register"
          class="btn btn-lg action-1 px-5 my-2 my-sm-0"
          role="button"
          >Sign Up</a
        >
      </div>
    </header>

    <!-- How -->
    <section id="how" class="container-fluid text-center">
      <div class="container">
        <div class="title text-center pb-5">
          <h2>How It Works</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
          <div class="outline col-md">
            <div class="icon">
              <img src="/images/upload.svg" class="img-fluid" alt="upload" />
            </div>
            <p>Upload savage photo</p>
          </div>
          <div class="outline col-md">
            <div class="icon">
              <img src="/images/points.svg" class="img-fluid" alt="points" />
            </div>
            <p>Get value worth of points</p>
          </div>
          <div class="outline col-md">
            <div class="icon">
              <img src="/images/reward.svg" class="img-fluid" alt="reward" />
            </div>
            <p>Claim your rewards</p>
          </div>
          <div class="outline col-md">
            <div class="icon">
              <img src="/images/paid.svg" class="img-fluid" alt="get paid" />
            </div>
            <p>Get paid</p>
          </div>
        </div>
      </div>
    </section>

    <!-- savage collections -->
    <section id="collections" class="container-fluid">
      <div class="container">
        <div class="title text-center pb-5">
          <h2>Our Collections</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        </div>
        <div class="row">
          <% for (var i = 0; i < data.length; i++) { %> <% if(data[i].image_url
          != "") { %> <% console.log(data[i].image_url) %>
          <div class="col-md-4 mb-5">
            <div class="img-wrap">
              <img
                src="<%= data[i].image_url %>"
                class="img-fluid"
                alt="collections"
              />
            </div>
          </div>
          <% } %> <% } %>
        </div>
        <div class="text-center mt-4">
          <a
            href="/posts"
            class="btn btn-lg action-1 px-5 my-2 my-sm-0"
            role="button"
            >See More</a
          >
        </div>
      </div>
    </section>

    <!-- Get started -->
    <section id="get-started">
      <div class="overlay d-flex align-items-center">
        <div class="container">
          <div class="title text-center">
            <h2>Get Started</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex
              fugiat possimus quas autem et saepe quis! Officiis quisquam
              inventore dolorem quam minima dolore impedit mollitia veniam?
              Consequuntur atque numquam labore.
            </p>
            <a
              href="/user/register"
              class="btn btn-lg action-1 px-5 my-2 my-sm-0"
              role="button"
              >Get Started</a
            >
          </div>
        </div>
      </div>
    </section>

    <footer id="footer" class="text-center">
      <p class="py-4">&copy; 2020 Savage Collections. All rights reserved</p>
    </footer>

    <!-- <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script> -->

    <script src="/js/homepage.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
