<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="assets/css/savage.css">
  <link rel="stylesheet" href="css/style.css">

  <title>Savage</title>
</head>

<body>
  <!-- Header -->
  <header class="bg-white shadow">
    <nav class="navbar navbar-expand-xl navbar-light py-3">
      <a class="navbar-brand" href="index.html">
        <h3>Savage</h3>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="course.html">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link current" href="#">Rewards<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <button class="nav-link nav-btn btn btn-outline px-4" href="SignOut.html">Sign Out</button>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <section class="container">
    <aside>
      <a href="">
        <h4 class="my-4">&lt; Back</h4>
      </a>
    </aside>
    <article class="mainPage">
      <div class="imageDiv">
        <img src="assets/images/two.png" alt="" class="img-fluid">
        <div>
          <h3>
            Ciroma Chukwuka Adekunle
          </h3>
          <small>Acct.No : 008807XXXX</small>
          <p>CiromaAdechukwu@gmail.com</p>


        </div>
      </div>
      <div class="points mb-3">
        <div class="topProgress">
          <div id="first" class="p-4">
            <p>Points</p>
            <h3 class="text-center">13</h3>
          </div>
          <div id="second" class="p-4">
            <p>Uploads</p>
            <h3 class="text-center">10</h3>
          </div>
          <div id="third" class="p-4">
            <p>Referral - SR0287</p>
            <h3 class="text-center">5</h3>
          </div>

        </div>
        <div>
          <small class="d-block my-3">All Uplods have a value of xxx$</small>
        </div>
        <div class="claimBtn">
          <button class="btn btn-outline">Claim Reward</button>
        </div>
    </article>
  </section>
  <!-- Footer -->
  <footer class="p-2 bg-base">
    <div class="text-center mt-4">
      <small class="text-light">&copy; savage Responses, Inc. 2020. All right reserved.</small>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>