<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/savage.css">


  <title>Savage</title>
</head>

<body>
  <!-- Header -->
  <div id="wrapper">
    <header class="mb-3">
      <nav id="navi" class="navbar navbar-expand-md navbar-dark  shadow-lg py-3">
        <!-- Brand -->
        <a class="navbar-brand text-uppercase" id="logo" href="/">sc</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-uppercase text-light" href="/">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase text-light" href="/dashboard">dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase text-light" href="/posts">views</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase text-light" href="/user/logout">log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container">
      <article class="mainPage">
        <div class="imageDiv">
          <img src="assets/images/two.png" alt="" class="img-fluid">
          <div>
            <h3>
              Ciroma Chukwuka Adekunle
            </h3>
            <small>Acct.No : 008807XXXX</small>
            <p>CiromaAdechukwu@gmail.com</p>


          </div>
        </div>
        <div class="points mb-3">
          <div class="topProgress">
            <div id="first" class="p-4">
              <p>Points</p>
              <h3 class="text-center">13</h3>
            </div>
            <div id="second" class="p-4">
              <p>Uploads</p>
              <h3 class="text-center">10</h3>
            </div>
            <div id="third" class="p-4">
              <p>Referral - SR0287</p>
              <h3 class="text-center">5</h3>
            </div>

          </div>
          <div>
            <small class="d-block my-3">All Uplods have a value of xxx$</small>
          </div>
          <div class="claimBtn">
            <button class="btn btn-outline">Claim Reward</button>

          </div>
          <aside>
            <a href="">
              <h4 class="my-4">&lt; Back</h4>
            </a>
          </aside>
      </article>
    </section>
    <!-- Footer -->
    <footer class="mt-5">
      <div class="text-center pt-4 pb-2 justify-content-center align-items-center">
        <p class="text-uppercase text-white">&copy;savage collections 2020.</p>
        <p class="text-capitalize text-white">All rights reserved.</p>
      </div>
    </footer>
  </div>
  <!-- <footer class="p-2 bg-base">
    <div class="text-center mt-4">
      <small class="text-light">&copy; savage Responses, Inc. 2020. All right reserved.</small>
    </div>
  </footer> -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>