<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <!-- Fonts Awesome -->
    <script
      src="https://kit.fontawesome.com/fc9346f24c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/homepage2.css" />
    <!-- <link rel="stylesheet" href="/css/view.css" /> -->
    <title>Savage Collections | Home</title>
  </head>

  <body>
    <!-- header -->
    <header>
      <nav id="nav" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand logo" href="/user/dashboard">SC</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#savageCollections"
          aria-controls="savageCollections"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="savageCollections">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/user/dashboard"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/reward">Reward</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-capitalize" href="/posts">Savages</a>
            </li>
          </ul>
          <a
            href="/user/logout"
            class="btn btn-lg action-2 px-5 my-2 my-sm-0 text-capitalize"
            role="button"
            >Log Out</a
          >
        </div>
      </nav>
    </header>
    <!-- header -->
    <!-- main -->
    <main class="mt-5">
      <div class="user-posts">
        <section id="collections" class="container-fluid">
          <div class="container">
            <div class="savage-feed-heading text-center">
              <h2>All Savage Collection</h2>
            </div>
            <div class="row">
              <% for (var i = 0; i < data.length; i++) { %> <%
              if(data[i].image_url != "") { %> <% console.log(data[i].image_url)
              %>
              <div class="col-md-4 mb-5">
                <div class="img-wrap">
                  <img
                    src="<%= data[i].image_url %>"
                    class="img-fluid"
                    alt="collections"
                  />
                </div>
              </div>
              <% } %> <% } %>
            </div>
          </div>
        </section>
      </div>
      <br />
      <div class="pagination d-flex justify-content-center">
        <div aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#"
                >1<span class="sr-only">(current)</span></a
              >
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2 </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <!-- main -->
    <!-- footer -->
    <footer id="footer" class="text-center py-2">
      <p class="py-4">&copy; 2020 Savage Collections. All rights reserved</p>
    </footer>
    <!-- footer -->
    <!-- Bootstrap cdn -->

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <!-- Custom JS -->
    <script src="/js/user.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
