@font-face {
  font-family: "Lemon Jelly";
  src: url("../fonts/LemonJellyPersonalUse-dEqR.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #919dab;
}

img {
  object-fit: cover;
  object-position: top;
}

p {
  line-height: 1.7;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #28157a;
}

/***************************
            Utilities
  ***************************/
.btn {
  border-radius: 25px;
}

.btn.action-1 {
  background-color: #25dac5;
  color: #fff;
}

.btn.action-1:hover {
  background-color: #1eb9a7 !important;
}

.btn.action-2 {
  background-color: #482be7;
  color: #fff;
}

.btn.action-2:hover {
  background-color: #3b25b9 !important;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/***************************
            Nav
  ***************************/
nav {
  padding: 2% 9% !important;
  background: #2f1893;
}

.logo {
  font-family: "Lemon Jelly";
  font-size: 70px;
}

nav li {
  margin-right: 2rem;
}

/* footer */

#footer {
  background-color: #28157a;
  color: #fff;
}
