:root {
  --sc-black: black;
  --sc-blue: #262b48;
  --sc-l-blue: #0056B3;
  --sc-red: #DC3545;
}

@font-face {
  font-family: 'Lemon Jelly';
  src: url("../fonts/LemonJellyPersonalUse-dEqR.ttf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* nav bar */
nav {
  background-color: var(--sc-blue);
}

#logo {
  font-family: 'Lemon Jelly' !important;
  font-size: 60px;
  color: var(--sc-l-blue);
  line-height: 0px;
}

/* footer */
footer {
  background-color: var(--sc-blue);
}

.savage-feed {
  margin-top: 20vh;
}

.savage-feed .savage-feed-heading {
  color: var(--sc-blue);
  font-size: 24px;
  text-align: center;
  font-family: 'Lemon Jelly';
}

.savage-feed .savage-img-box img {
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    margin-top: 15px;
}

.savage-feed .savage-feed-button {
  margin: 30px auto;
}

.savage-feed .page-item.active .page-link, .savage-feed .page-item.active .page-link:focus {
  background-color: var(--sc-blue);
  color: #ffffff;
  border: 1px solid var(--sc-blue);
}

.savage-feed .page-item .page-link:hover {
  background-color: var(--sc-blue);
  color: #ffffff;
  border: 1px solid var(--sc-blue);
  cursor: pointer;
}

.savage-feed nav {
  background-color: #ffffff;
}

.savage-feed nav li a {
  color: var(--sc-blue);
}


@media only screen and (max-width: 425px) {
  #logo {
      font-size: 40px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
  #logo {
      font-size: 50px;
  }
}