header {
  margin-bottom: 2rem;
}
main {
  width: 100%;
  margin-top: 2rem;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  margin-top: 10vh;
}

.user-box {
  width: 500px;
  text-align: center;
  border: 1px solid #262b48;
  padding: 2rem 4rem;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
  box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
  margin-bottom: 4rem;
}
.user-photo {
  overflow: hidden;
  margin-bottom: 1rem;
}
.user-photo img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #262b48;
}

.user-name {
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.user-btn {
  border-style: none;
  background-color: #262b48;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  letter-spacing: 0.1rem;
}
.user-btn:hover {
  opacity: 0.9;
}
.user-posts {
  width: 100%;
  padding: 0 4rem;
  margin-bottom: 2rem;
}

.user-posts .heading {
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}
.post {
  position: relative;
  border: 1px solid #262b48;
  border-radius: 10px;
  cursor: pointer;
}
.post .overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
  color: white;
  background-color: #262b48;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}

.post img {
  width: 100%;
}

.fa {
  cursor: pointer;
}

.pagination {
  padding: 1rem 0;
}
.page-item.active .page-link {
  background-color: #262b48 !important;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  border-style: none;
}

.page-link:hover {
  background-color: #262b48;
  color: white;
}

.user-upload {
  border-top: 1px solid #262b48;
  padding: 2rem;
}

/* media query */
@media (max-width: 525px) {
  .user-box {
    width: 90%;
    padding: 1rem 2rem;
  }
  .user-posts {
    padding: 0 2rem;
  }
}

@media (max-width: 375px) {
  .user-box {
    width: 100%;
    padding: 1rem 2rem;
  }
  .user-posts {
    padding: 0px;
  }
}
