@font-face {
    font-family: "Lemon Jelly";
    src: url("../fonts/LemonJellyPersonalUse-dEqR.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #919DAB;
    overflow-x: hidden;
}

img {
    object-fit: cover;
    object-position: top;
}

p {
    line-height: 1.7;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    color: #28157a;
}

/***************************
            Utilities
  ***************************/
.btn {
    border-radius: 25px;
}

.btn.action-1 {
    background-color: #25dac5;
    color: #fff;
}

.btn.action-1:hover {
    background-color: #1eb9a7 !important;
}

.btn.action-2 {
    background-color: #482be7;
    color: #fff;
}

.btn.action-2:hover {
    background-color: #3b25b9 !important;
}

.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/***************************
            Nav
  ***************************/
nav {
    padding: 2% 9% !important;
    background: #2F1893;
}

.logo {
    font-family: "Lemon Jelly";
    font-size: 70px;
}

nav li {
    margin-right: 2rem;
}

/* main */
main {
    width: 100%;
    overflow-x: hidden;
}

.user-dashboard {
    padding: 2rem 2rem;
    overflow-x: hidden;
}

.user-dashboard-figures {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    color: #04172a;
}

.user-dashboard-figure {
    border: 1px solid rgba(4, 23, 42, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1rem 2rem;
    -webkit-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
    box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
}

.user-dashboard-figure .figure {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
}

.user {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* padding: 1rem; */
    margin-top: 5rem;
    overflow-x: hidden;
}

.user-box {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
    box-shadow: 2px 4px 7px -4px rgba(0, 0, 0, 0.48);
}

.user-photo {
    overflow: hidden;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.user-photo img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #262b48;
}

.user-name {
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.user-btn {
    border-style: none;
    background-color: #262b48;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    letter-spacing: 0.1rem;
}

.user-btn:hover {
    opacity: 0.9;
}

.user-posts {
    width: 100%;
    padding: 0 4rem;
    margin-bottom: 2rem;
}

.user-posts .heading {
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    overflow-x: hidden;
}

.post {
    position: relative;
    border: 1px solid #262b48;
    border-radius: 10px;
    cursor: pointer;
}

.post .overlay {
    position: absolute;
    bottom: 0;
    z-index: 2;
    color: white;
    background-color: #262b48;
    width: 100%;
    height: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 0px 0px 10px 10px;
}

.post img {
    width: 100%;
}

.fa {
    cursor: pointer;
}

.fa-trash:hover {
    color: rgb(236, 95, 95);
}

.fa-info:hover {
    color: green;
}

.pagination {
    padding: 1rem 0;
}

.page-item.active .page-link {
    background-color: #262b48 !important;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-style: none;
}

.page-link:hover {
    background-color: #262b48;
    color: white;
}

.user-upload {
    border-top: 1px solid #262b48;
    padding: 2rem;
}

/* footer */

#footer {
    background-color: #28157a;
    color: #fff;
}


/* media query */
@media (max-width: 1255px) {
    .user {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .user-box {
        width: 100%;
        height: fit-content;
        margin: auto 0;
    }

    .user-dashboard-figures {
        grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
    }
}

@media (max-width: 675px) {
    .user {
        grid-template-columns: auto;
    }
}

@media (max-width: 525px) {
    .user-posts {
        padding: 0 2rem;
    }

    .user-dashboard {
        padding: 2rem 3rem;
    }
}

@media (max-width: 395px) {
    .user-dashboard {
        padding: 2rem 1rem;
    }

    .user-posts {
        padding: 0px;
    }
}

@media (max-width: 325px) {
    .posts {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 0.5rem;
    }
}
